.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

p {
  margin-bottom: 10px;
  padding-bottom: 0px;
  color: #fff;
  line-height: 40px;
}

.image {
  position: static;
  display: inline-block;
  text-align: center;
}

.container {
  margin-top: 78px;
  text-align: center;
}

.text-block {
  margin-bottom: 30px;
  padding-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.text-block-2 {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 26px;
  text-align: center;
}

.text-block-3 {
  display: block;
  margin-bottom: 25px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.container-2 {
  margin-bottom: 200px;
  text-align: center;
}

.body {
  background-color: #151525;
  color: #333;
}

.text-block-4 {
  margin-bottom: 50px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  letter-spacing: normal;
  text-indent: 0px;
  text-transform: none;
  white-space: normal;
}

.text-block-5 {
  margin-bottom: 50px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.text-block-6 {
  padding-right: 0px;
}

.paragraph-1 {
  margin-bottom: 0px;
  padding-right: 100px;
  padding-left: 100px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  -webkit-column-count: auto;
  column-count: auto;
}

.div-block {
  position: relative;
}

.container-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  text-align: center;
}

.image-2 {
  position: static;
  display: inline-block;
  margin-bottom: -70px;
  padding-top: 413px;
  padding-bottom: 0px;
  float: left;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph-2 {
  padding-left: 102px;
}

.paragraph-3 {
  margin-bottom: -1px;
  padding-right: 100px;
  padding-left: 100px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  text-align: justify;
}

.paragraph-4 {
  text-align: left;
}

.image-3 {
  float: right;
}

.button {
  padding-right: 15px;
  border-radius: 0px;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
}

.grid {
  margin-right: 0px;
  padding-right: 240px;
  padding-left: 240px;
  grid-column-gap: 0px;
  grid-row-gap: 14px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.text-block-7 {
  color: #fff6f6;
  font-size: 18px;
  font-weight: 700;
}

.image-4 {
  text-align: left;
}

.container-4 {
  margin-bottom: 93px;
  text-align: center;
}

.grid-2 {
  justify-items: center;
  grid-row-gap: 31px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.container-5 {
  position: relative;
  display: block;
}

.container-6 {
  position: fixed;
}

.div-block-2 {
  position: static;
  margin-left: 0px;
  padding-left: 0px;
}

.image-5 {
  position: fixed;
}

.image-6 {
  position: relative;
  z-index: 1;
}

.image-7 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 4;
  float: none;
  clear: none;
  text-align: left;
}

.image-8 {
  position: absolute;
  left: 37%;
  top: 36%;
  right: auto;
  bottom: auto;
}

.image-9 {
  position: absolute;
  left: auto;
  top: 42%;
  right: 40%;
  bottom: auto;
}

.image-10 {
  position: absolute;
  left: 38%;
  top: 36%;
  right: auto;
  bottom: 0%;
}

.link-block {
  position: relative;
}

.link-block-2 {
  position: relative;
  display: none;
}

.image-11 {
  position: relative;
}

.link-block-3 {
  position: relative;
}

.link-block-4 {
  position: relative;
  width: auto;
  height: auto;
  text-align: left;
}

.grid-3 {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.link-block-5 {
  position: relative;
  text-align: center;
}

.link-block-6 {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 287px;
  max-width: 287px;
  text-align: center;
}

.text-block-8 {
  margin-bottom: 90px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.text-block-9 {
  margin-top: 90px;
  margin-bottom: 90px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.container-7 {
  margin-bottom: 50px;
  text-align: center;
}

.thumbnail-block {
  position: relative;
  width: 287px;
  height: 287px;
  background-image: url('../images/Group-14.png');
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

.text-block-10 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 25%;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.text-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  text-align: left;
}

.div-block-3 {
  position: relative;
  width: 287px;
  height: 287px;
  background-image: url('../images/Group-15.png');
  background-position: 50% 50%;
  background-size: auto;
}

.div-block-4 {
  position: relative;
  width: 287px;
  height: 287px;
  background-image: url('../images/Group-21.png');
  background-position: 50% 50%;
  background-size: auto;
}

.div-block-5 {
  position: relative;
  width: 287px;
  height: 287px;
  background-image: url('../images/Group-18.png');
  background-position: 0px 0px;
  background-size: auto;
}

.link-block-7 {
  position: static;
}

.div-block-6 {
  position: relative;
  width: 287px;
  height: 287px;
  background-image: url('../images/Group-16.png');
  background-position: 0px 0px;
  background-size: auto;
}

.div-block-7 {
  position: relative;
  width: 287px;
  height: 287px;
  background-image: url('../images/Group-19.png');
  background-position: 0px 0px;
  background-size: auto;
}

.div-block-8 {
  position: relative;
  width: 287px;
  height: 287px;
  background-image: url('../images/Group-22.png');
  background-position: 0px 0px;
  background-size: auto;
}

.div-block-9 {
  position: relative;
  width: 287px;
  height: 287px;
  background-image: url('../images/Group-20.png');
  background-position: 0px 0px;
  background-size: auto;
}

.div-block-10 {
  position: relative;
  width: 287px;
  height: 287px;
  background-image: url('../images/Group-17.png');
  background-position: 0px 0px;
  background-size: auto;
}

.div-block-11 {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 287px;
  max-width: 287px;
  background-image: url('../images/Group-23.png');
  background-position: 0px 0px;
  background-size: auto;
}

.heading {
  padding-top: 21px;
  padding-bottom: 21px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.div-block-12 {
  position: relative;
  width: 287px;
  height: 287px;
  background-image: url('../images/Group-24.png');
  background-position: 0px 0px;
  background-size: auto;
}

.text-block-11 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 13%;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.image-12 {
  margin-top: -1043px;
  margin-bottom: 0px;
}

.image-13 {
  margin-top: -532px;
  float: none;
  clear: both;
}

.image-14 {
  margin-top: -1378px;
  float: right;
}

.container-8 {
  margin-top: -896px;
}

.body-2 {
  background-color: #151525;
}

.text-block-12 {
  color: #fff;
  text-align: center;
}

.link-block-12 {
  display: none;
}

.text-block-13 {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  .text-block-3 {
    margin-bottom: 25px;
  }

  .container-2 {
    margin-bottom: 150px;
  }

  .image-2 {
    margin-bottom: -120px;
    padding-top: 510px;
  }

  .grid {
    padding-right: 130px;
    padding-left: 130px;
    justify-items: stretch;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    grid-auto-columns: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto;
  }

  .grid-2 {
    justify-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 43px;
  }

  .image-7 {
    left: 11%;
    top: 11%;
  }

  .image-8 {
    left: 35%;
    top: 35%;
  }

  .image-9 {
    right: 34%;
  }

  .link-block-2 {
    width: auto;
  }

  .grid-3 {
    grid-template-areas: ".";
  }

  .link-block-5 {
    width: 214px;
    height: 214px;
  }

  .link-block-6 {
    width: 214px;
    height: 214px;
    min-height: 0px;
    min-width: 0px;
  }

  .thumbnail-block {
    width: 200px;
    height: 200px;
  }

  .div-block-3 {
    position: relative;
    width: 200px;
    height: 200px;
    background-size: cover;
  }

  .div-block-4 {
    position: relative;
    width: 200px;
    height: 200px;
    background-size: cover;
  }

  .div-block-5 {
    position: relative;
    width: 200px;
    height: 200px;
    background-size: cover;
  }

  .div-block-6 {
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-size: cover;
  }

  .div-block-7 {
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-size: cover;
  }

  .div-block-8 {
    width: 200px;
    height: 200px;
    background-size: cover;
  }

  .div-block-9 {
    width: 200px;
    height: 200px;
    background-size: cover;
  }

  .div-block-10 {
    width: 200px;
    height: 200px;
    background-size: cover;
  }

  .div-block-11 {
    overflow: visible;
    width: 100%;
    height: 100%;
    float: none;
    clear: none;
    background-image: url('../images/Group-23.png');
    background-position: 50% 50%;
    background-size: contain;
    text-align: center;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .heading {
    float: none;
    clear: none;
    text-align: center;
  }

  .div-block-12 {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
  }

  .image-12 {
    margin-top: -665px;
    margin-bottom: -167px;
  }

  .image-14 {
    margin-top: -1094px;
  }

  .link-block-8 {
    width: auto;
  }

  .link-block-9 {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .container-2 {
    margin-bottom: 120px;
  }

  .text-block-5 {
    margin-bottom: 50px;
  }

  .image-2 {
    margin-bottom: -100px;
    padding-top: 740px;
  }

  .grid {
    padding-right: 80px;
    padding-left: 80px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .grid-2 {
    justify-items: center;
    grid-row-gap: 41px;
  }

  .image-7 {
    left: 10%;
    top: 10%;
  }

  .image-8 {
    left: 32%;
    top: 32%;
  }

  .image-9 {
    top: 38%;
    right: 31%;
  }

  .image-10 {
    left: 34%;
    top: 30%;
  }

  .link-block-2 {
    width: auto;
  }

  .grid-3 {
    margin-right: 30px;
    margin-left: 30px;
    grid-column-gap: 0px;
  }

  .thumbnail-block {
    width: 150px;
    height: 150px;
  }

  .text-block-10 {
    bottom: 18%;
  }

  .text-wrapper {
    opacity: 0.75;
  }

  .div-block-3 {
    display: block;
    width: 150px;
    height: 150px;
  }

  .div-block-4 {
    width: 150px;
    height: 150px;
  }

  .div-block-5 {
    width: 150px;
    height: 150px;
  }

  .div-block-6 {
    width: 150px;
    height: 150px;
  }

  .div-block-7 {
    width: 150px;
    height: 150px;
  }

  .div-block-8 {
    width: 150px;
    height: 150px;
  }

  .div-block-9 {
    width: 150px;
    height: 150px;
  }

  .div-block-10 {
    width: 150px;
    height: 150px;
  }

  .image-12 {
    margin-top: -572px;
  }

  .image-14 {
    margin-top: -896px;
  }

  .link-block-8 {
    width: auto;
  }

  .link-block-9 {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .container-2 {
    margin-bottom: 100px;
  }

  .text-block-4 {
    font-size: 40px;
    line-height: 60px;
  }

  .text-block-5 {
    font-size: 20px;
    line-height: 30px;
  }

  .image-2 {
    margin-bottom: -80px;
    padding-top: 968px;
  }

  .paragraph-3 {
    margin-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 15px;
  }

  .image-3 {
    margin-top: 40px;
  }

  .button {
    border: 2px solid #151525;
    border-radius: 0px;
    font-size: 20px;
  }

  .grid {
    padding-right: 0px;
    padding-left: 0px;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
  }

  .image-4 {
    margin-right: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .grid-2 {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 0px;
    grid-column-gap: 0px;
    grid-row-gap: 11px;
  }

  .image-7 {
    left: 16%;
    top: 16%;
  }

  .image-8 {
    left: 14%;
    top: 15%;
  }

  .image-9 {
    top: 30%;
    right: 14%;
  }

  .image-10 {
    left: 19%;
    top: 14%;
  }

  .link-block {
    width: auto;
  }

  .link-block-2 {
    width: auto;
  }

  .grid-3 {
    margin-right: 30px;
    margin-left: 30px;
    grid-column-gap: 0px;
  }

  .link-block-5 {
    width: auto;
    height: auto;
  }

  .link-block-6 {
    width: auto;
    height: auto;
  }

  .text-block-8 {
    margin-top: -15px;
    margin-bottom: 80px;
    font-size: 40px;
  }

  .text-block-9 {
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 40px;
  }

  .thumbnail-block {
    width: 90px;
    height: 90px;
  }

  .text-block-10 {
    margin-bottom: 0px;
    background-color: transparent;
    opacity: 1;
    color: #fff;
    font-size: 15px;
  }

  .text-wrapper {
    width: 100%;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, rgba(0, 0, 0, 0.72)), color-stop(63%, #000));
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.72) 30%, #000 63%);
    opacity: 1;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .div-block-3 {
    width: 90px;
    height: 90px;
  }

  .div-block-4 {
    width: 90px;
    height: 90px;
  }

  .div-block-5 {
    width: 90px;
    height: 90px;
  }

  .link-block-7 {
    width: auto;
  }

  .div-block-6 {
    width: 90px;
    height: 90px;
  }

  .div-block-7 {
    width: 90px;
    height: 90px;
  }

  .div-block-8 {
    width: 90px;
    height: 90px;
  }

  .div-block-9 {
    width: 90px;
    height: 90px;
  }

  .div-block-10 {
    width: 90px;
    height: 90px;
  }

  .div-block-11 {
    width: 100px;
    height: 100px;
  }

  .heading {
    margin-top: -6px;
    font-size: 15px;
  }

  .div-block-12 {
    width: 100px;
    height: 100px;
  }

  .text-block-11 {
    font-size: 12px;
  }

  .image-12 {
    margin-top: -594px;
    margin-bottom: -310px;
  }

  .image-14 {
    margin-top: -567px;
    margin-bottom: 0px;
  }

  .container-8 {
    margin-bottom: 250px;
  }

  .link-block-8 {
    width: auto;
  }

  .link-block-9 {
    width: auto;
  }

  .text-block-12 {
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 10px;
    text-align: center;
  }

  .link-block-10 {
    width: auto;
  }

  .link-block-11 {
    width: auto;
  }

  .container-9 {
    margin-top: 250px;
  }
}

#w-node-_1716448f-d5f4-9b9c-89d5-c50c5febc265-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_9df16278-d7b6-dd86-545a-479c19dc1868-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-eacc2d66-03a2-9382-4f01-551efbc3eee1-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_12da73fd-faaa-1a77-78a8-2227cf7b08e5-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_35b532dd-65ed-b4c1-ec7f-959c118a2033-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e0980d36-739f-da28-c2d8-c4fa0007056f-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-a71c0be1-3794-071c-e225-a7b6fb8f5ac5-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_82147bd2-a171-1cce-05b9-a489782f486b-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_886df4cf-2e37-b208-c79d-6edd16fc8e08-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_0115b5ff-d364-3ec6-9568-6af8e8421b57-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_2e3b85ea-cfa2-7eb8-9ff2-697dcf464aa6-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_18bae798-2d91-cba8-7c30-2c644b855267-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_3ed318cb-ae13-93ec-f1b8-a4e2761fa9e9-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_45b36340-0431-9ef7-ba6e-4733e5752605-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_033604b8-45e2-79d9-bee6-0074f79c43d5-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bc25e4b5-883b-1e5f-cb93-cdd1bd3e78e0-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_863a2205-7806-497c-806a-f8ac1cbb8299-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3c58d7d4-26a8-ef78-482b-f7441e09acf0-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_15103d05-eeb4-1a6e-39be-8550347997e2-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1fce3e74-1e01-6667-6af6-584a402fd22e-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_266dfc00-a92b-1a1a-885c-d7721d6742f0-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d6816dd2-bd26-7376-251a-0bf98a12a4c2-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d5df26a2-e323-d302-e957-66d1f40b7fe2-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_8b57ec45-dc45-e624-f574-cda156f7dd12-985e400f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-_033604b8-45e2-79d9-bee6-0074f79c43d5-985e400f {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

